
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<link rel="stylesheet" href="../css/style.css" type="text/css">

<script type="text/javascript" src="../js/chatroom.js"></script>

    <title>ChatApp</title>
</head>
<style>
::-webkit-scrollbar {
    display: none;
    }

    </style>
<header class="container" style="padding: 20px">
   
    <div class="row" style="float:right">
            <div><img class="img-circle" src="image"></div>
            <div class="profile">
                <span id="username"></span>
            </div>
        <a class="form-control" href="#" id="logout">Logout</a>
    </div>
</header>
<div class="row col-md-12">
    <!-- chated users -->
    <div class="col-md-3" style="background-color: azure">
       <div style="margin-bottom:10px" class="container">
            <button type="button" class="btn btn-primary" disabled >
                My Groups
            </button>
            
            <button type="button" id="creategroup" class="btn" data-toggle="modal" data-target="#exampleModalLong">
                New Groups 
            </button>
        </div>
  <!-- Modal -->
<style>
  .state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

</style>
  <div  class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div  class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: bisque">
        <div class="modal-header">
          <div  id="exampleModalLongTitle" class="container"><input type="text" class="form-control" id="groupname" placeholder="Group Name "></div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                
                <div class="well" style="max-height: 300px;overflow: auto;">
                    <ul class="list-group checked-list-box" id="groups" >
                      
                      
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="creategroups">Create</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="list-group" id="chatuser" >
                
                    
    </ul>
  </div>
</div>
    <!-- caht window-->
    <div class="col-md-6 chat_window" style="background-color:aliceblue">
            
        <center>
            
            <div class="col-md-12" >
                <div >
                <center><button class="btn btn-info col-md-12" style="text-transform: capitalize;" id="receivername">Public ChatRoom</button></center>
                </div>

                <center>
                    <div class="col-md-12 cframe">
                        <ul id="unique" >
                            
                        </ul>
                        <div>
                            <div class="msj-rta macro" style="margin:auto">

                                <div class="ctext text-r row" style="background:whitesmoke !important">
                                    <input type="text" class="mytext" placeholder="Type a message" autofocus />
                                    <input type="hidden" class="hidden" id="4fba0847be33303e9014e979b7573822">

                                </div>

                            </div>

                        </div>
                    </div>
                
                </center>
            </div>
        </center>
    </div>
    <!-- online users -->
    <div class="col-md-3" style="background-color: azure;">
        <button type="button" class="form-control btn btn-primary" disabled style="margin-bottom:10px">
            Online Users
        </button>
            <ul class="list-group" id="onlineusers">
                
                    
            </ul>
        </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
var user;
var userid='<%= id %>';
var socket=io('/chat');

socket.emit('userconnect',userid);

socket.on('usernamefetch',function(username){
    user=username;
    $('#username').text(username);
});
/* logout*/
$(document).on('click','#logout',function(){
    
    socket.emit('logout',userid);
});
socket.on('logoutsucc',function(data){
    window.location.href=data;
});

socket.emit('mychat',userid);

socket.on('getchat',function(grd){

    $('#chatuser').append('<li class="list-group-item " id="'+grd.id+'"><div >'+
            '<a href="#" style="text-decoration: none;text-transform: uppercase">'+
                    grd.name+
            '</a>'+
        '</div>'+
        '</li>');

});

/* check for login*/
socket.on('usernahihain',function(){
    window.location.href='/login';
});

/* broadcast */
$(document).on('click','#chatuser li',function(){

     $this= $(this);
    
    var rm=$this.parent('ul').children('.active');
    rm.removeClass('active');
    rm.find('a').css({'color':'blue'});
    
    $('.hidden').attr('id',this.id);
    $this.addClass('active');
    $this.find('a').css({'color':'#FFF'});
    $('#unique').html('');
    
    socket.emit('joingroupRoom',this.id);
    socket.emit('groupmassagerequired',this.id);
});
socket.on('groupcreated',function(grd){
    $("[data-dismiss=modal]").trigger({ type: "click" });
    $('#chatuser').append('<li class="list-group-item " id="'+grd.id+'"><div >'+
            '<a href="#" style="text-decoration: none;text-transform: uppercase">'+
                    grd.name+
            '</a>'+
        '</div>'+
        '</li>');

});


socket.on('newuserremovesuccess',function(id){
    
    $('#onlineusers').find('#'+id).remove();
});
socket.on('newuseraddsuccess',function(user){
    
    if(user[0].id==userid){
        alert('someone login to your account from another device');
        return false;
    }
    $('#onlineusers').find('#'+user[0].id).remove();
    
    $('#onlineusers').append('<li class="list-group-item on " id="'+user[0].id+'"><div >'+
            '<a href="#" style="text-decoration: none;text-transform: uppercase">'+
                    user[0].username+
            '</a>'+
        '</div>'+
        '</li>');
                    });
/*get online users */
socket.on('fetchonlineusers',function(data){
    
    
    for(i=0;i<data.length;i++){
       
    $('#onlineusers').append('<li class="list-group-item on " id="'+data[i].id+'"><div >'+
                    '<a href="#" style="text-decoration: none;text-transform: uppercase">'+
                            data[i].username+
                            '<div style="float:right"><span class="badge badge-danger">4</span></div>'+
                    '</a>'+
                '</div>'+
                '</li>');
                    }
                
    
});

socket.on('userlist',function(data){
for(i=0;i<data.length;i++){
    $('#groups').append('<li class="list-group-item" id="'+data[i].id+'" style="text-transform:capitalize">'+data[i].username+'</li>');
}
});

$("#creategroups").click(function(){
    var favorite = [];
    $.each($("input[type='checkbox']:checked"), function(){            
        favorite.push($(this).parent('li').attr('id'));
    });
    socket.emit('newgroupcreate',{'admin':userid,'name':$('#groupname').val(),'members':favorite,'myid':userid});
});

socket.on('alreadyhavegroup',function(){
    alert('you already craete group with this name ');
    $('#groupname').val('');
});



$(document).on('click','.on',function(){
    $this= $(this);
    
    var rm=$this.parent('ul').children('.active');
    rm.removeClass('active');
    rm.find('a').css({'color':'blue'});
    
    $('.hidden').attr('id',this.id);
    $this.addClass('active');
    $this.find('a').css({'color':'#FFF'});
    $('#unique').html('');
    
    socket.emit('joinRoom',{'myid':userid,'friendid':this.id});
    socket.emit('massagerequired',{'myid':userid,'friendid':this.id});
});

socket.on('allmessage',function(data){
    var frid=$('.hidden').attr('id');

    for(i=0;i<data.message.length;i++)
    {
        if(data.message[i].sender==userid)
        {
            
            insertChat2('me',user,data.message[i].massge,data.message[i].time,data.message[i].date);
        }
        else
        {
            insertChat2('you',data.receiver,data.message[i].massge,data.message[i].time,data.message[i].date);
        }
    }
    $("#receivername").html(data.receiver);
    $("#unique").animate({ scrollTop:5000});
});
socket.on('naya',function(msg){


$("#unique").animate({ scrollTop:5000});
insertChat("you",'SERVER',msg);

});
socket.on('roommessage',function(msg){

var bruser=msg.sender;
var mssg=msg.textmessage;

$("#unique").animate({ scrollTop:5000});
insertChat("you",bruser,mssg);

});




$(document).on("keyup",".mytext", function(e){



if (e.which == 13){
  
    
    var text = $(this).val();
    $this=$(this);
    if (text !== ""){

        $("#unique").animate({ scrollTop:5000});
        var date = formatAMPM(new Date());
        var day=  formatedate(new Date());
        friendid=$('input[type="hidden"]').attr('id');
        console.log(friendid);
        insertChat("me",user,text);
        socket.emit('newmessage',{'sender':userid,'receiver':friendid,'textmessage':text,'time':date,'date':day});

        $this.val('');

    }
}

});

</script>
</html>