<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<link rel="stylesheet" href="css/style.css" type="text/css">

<script type="text/javascript" src="js/chatroom.js"></script>

    <title>ChatApp</title>
</head>
<body>
<div class="jumbotron">
    <div id="loginform">
        <center >
            <div class="col-md-3">
                <h2 class="h2 ">Login to ChatApp</h2>
             </div>
        </center>
        <div id="login">
            <center>
                <div class="col-md-10 form-group" style="padding: 10px">
                    <div class="col-md-5" id="error">


                    </div>

                    <div class="col-md-5" style="margin:10px">
                        <input type="email" required class="form-control" id="username" placeholder=" Email ID">
                    </div>
                    <div class="col-md-5 form-item" style="margin:10px">
                        <input type="password"class="form-control" id="password" required placeholder=" Password">
                    </div>

                    <div style="margin:10px" class="col-md-5 form-item">
                        <input type="submit" class="form-control btn-success"  value="login" id="submit">
                    </div>
                </div>

            </center>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    $(function(){
        var user;
        var id;
        
        var email=$('#username');
        var pass=$('#password');
        socket = io('/login');
        $('#submit').on('click',function(){
            
            console.log('login process');
            socket.emit('loginDetails',{'email':$('#username').val(),'password':$('#password').val()});
            console.log('datail sand');
            
            });
        
        socket.on('loginerror',function (msg) {
            alert('error');
             $('#error').html('<div class="alert alert-danger" role="alert">'+msg+' </div>');
        });
        socket.on('loginsuccess',function (data) {
            console.log('ho gya');
            alert(data.userid);
            id=data.userid;
            user=data.username;
            window.location='/ChatRoom',{'userid':id,'username':user};

        });
    });
</script>

</body>

</html>